@import "./chatList/chatList.scss";
@import "./cotacts/contacts.scss";
@import "./searchContact/searchContact.scss";

.left-panel {
  width: 30%;
  height: 100vh;
  padding: 20px 0 10px;
  background-color: var(--color-chats-bg);
  border-right: 1px solid var(--color-border);
}
