:root {
  --color-bg-default: #fff;
  --color-text-main: #1e1e1e;
  --color-text-primary: #3369f3;
  --color-text-secondary: #9b9b9b;
  --color-text-grand: #b8c1c5;
  --color-button-primary: #3369f3;
  --color-button-disabled: #a3abc1;
  --color-message-primary: #e4edfd;
  --color-message-secondary: #eef1f4;
  --color-element: rgb(82 82 82 / 50%);
  --color-element-hoover: #e6eefc;
  --color-border: #eaeaea;
  --color-border-active: #3369f3;
  --color-chats-bg: #fbfbfb;
  --color-chat-bg-unviewed: #f5f6f7;
  --color-chat-bg-hoover: #e6eefc;
  --color-chat-count: #3369f3;
  --color-input-bar: #efefef;
  --color-white: #fff;
  --color-red: #f00;
  --color-err-title: #873434;   
  --color-err-message: #aa4242;
  --color-textarea-error: #f5dcdc;
  --box-shadow: 0px 0px 5px 0.1px rgb(0 0 0 / 15%);
  --bg-gradient: linear-gradient(49deg, #cde1e152 28%, #8ba3c7ad);
  --bg-error: #fa9090
}

* {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  color: var(--color-text-main);
  box-sizing: border-box;
}
