<div class="modal {{visibility}} {{modalClassName}}">
  {{#if errorMessage}}
    <h4 class="modal__error-title">Ошибка</h4>
    <div class="modal__error-message">{{errorMessage}}</div>
  {{/if}}
</div>


