.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg-gradient);

  &__form {
    width: 340px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
    background-color: var(--color-white);
    transition: 3s ease-in-out;
  }
}

.form {
  &__title {
    font-size: 25px;
    font-weight: 200;
    line-height: 20px;
    color: var(--color-text-secondary);
    margin-bottom: 30px;
    margin-right: auto;
  }

  &__buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 160px;
  }

  &__inputs-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
  }
}

.input {
  position: relative;

  &__placeholder {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--color-text-secondary);
    transition: top 0.3s, font-size 0.3s;
  }
}

#login {
  padding: 10px;
  font-size: 16px;
}

