<main class="signup-page">
  {{#Form onSubmit=onSubmitForm class="signup-page__form"}}
    <h1 class="form__title">Регистрация</h1>
    <div class="form__inputs-container">
      {{#each inputs}}
        {{{Input
          inputName=this.props.inputName
          inputLabel=this.props.inputLabel
          inputType=this.props.inputType
          inputMainClass=this.props.inputMainClass
          inputClass=this.props.inputClass
          labelClass=this.props.labelClass
          isEditing=this.props.isEditing
        }}}
      {{/each}}
    </div>
    <div class="form__buttons-container">
      {{#each buttons}}
        {{{Button
          buttonText=this.props.buttonText
          buttonClass=this.props.buttonClass
          buttonType=this.props.buttonType
          onClick=this.props.onClick
        }}}
      {{/each}}
    </div>
  {{/Form}}
</main>
