<main class="error-page">
  <h1 class="page-title">{{errorCode}}</h1>
  <p class="page-description">{{description}}</p>
  {{{Button
    buttonText="Назад к чатам"
    buttonClass="button_text"
    buttonLink="/sign-up"
    onClick=this.onButtonClick
  }}}
</main>

