<main class="">
  <h1 class="">{{errorCode}}</h1>
  <p class="">{{description}}</p>
  {{{Button
    buttonText="Назад к чатам"
    buttonClass="button_text"
    buttonLink="/chats"
    onClick=this.onButtonClick
  }}}
</main>
