.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

.page-title {
  font-weight: 900;
  font-size: 200px;
  line-height: 150px;
  color: white;
}

.page-description {
  font-size: 30px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: white;
}

