<main class="error-page">
  <h1 class="page-title">{{errorCode}}</h1>
  <p class="page-description">{{description}}</p>
  {{{Button
    buttonText="Авторизоваться"
    buttonClass="button_text"
    buttonLink="/"
    onClick=this.onButtonClick
  }}}
</main>

