<div class="">
  {{#if showDate}}
    <div class="">{{formatDate time}}</div>
  {{/if}}
  <div
    class="message
      {{#if isCurrentUser}}
        message_mine
      {{else}}
        message_other
      {{/if}}"
  >
    <p class="">{{text}}</p>
    <div class="">
      <p class="">{{formatTime time}}</p>
    </div>
  </div>
</div>
