.message-wrapper {
  padding: 10px 50px 15px;
  position: relative;
  
}

.message {
  width: fit-content;
  max-width: 80%;
  min-width: 5%;
  padding: 10px 15px 15px 10px;
  position: relative;
  background-color: #F8F8F8;
  
  &__date {
    width: 10%;
    margin: 20px auto;
    text-align: center;
    font-size: 10px;
  }

  &__text {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }

  &__time-container {
    position: absolute;
    bottom: 3px;
    right: 3px;
  }

  &__time {
    font-size: 7px;
    font-weight: 500;
    line-height: 9px;
    margin-left: auto;
  }

  &_other {
    align-self: flex-start;
    border-radius: 0 8px 8px;
  }

  &_mine {
    align-self: flex-end;
    border-radius: 8px 8px 0;
    background-color: #E4EDFD;
    margin-left: auto;
    text-align: right;
  }
}

