.container {
    background: rgba(255, 255, 255 / 90%);
    box-shadow: 0 0 20px rgba(0, 0, 0 / 20%);
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    text-align: center;
  
    form {
      display: flex;
      flex-direction: column;
      position: relative;
  
      .form-group {
        margin: 10px;
        text-align: left;
  
        label {
          font-weight: bold;
          color: #333;
          text-shadow: 2px 2px 2px rgba(0, 0, 0 / 20%);
        };
  
        input {
          width: 95%;
          padding: 10px;
          margin: 5px 0;
          border: none;
          border-radius: 5px;
          background: rgba(255, 255, 255 / 80%);
          box-shadow: 2px 2px 5px rgba(0, 0, 0 / 20%);
          outline: none;
          transition: box-shadow 0.5s ease-in-out;
        };
  
        input:invalid {
          border: 1px solid red;
        };
  
        button {
          display: flex;
          width: 250px;
          background: linear-gradient(to bottom right, #4caf50, #45a847);
          color: #fff;
          padding: 10px;
          margin: 15px;
          border-radius: 5px;
          cursor: pointer;
          transition: background 0.3s, transform 0.2s;
        };
  
        a {
          margin: 15px;
        };
  
        #register-button {
          margin-left: 20%;
          position: relative;
          perspective-origin: center;
          justify-content: center;
        };
  
        #avatar {
          border: 1px solid #ccc;
          padding: 5px;
          border-radius: 5px;
        };
    };
    };
  };

